.mt-10 { margin-top: 10px; }
.mt-5 { margin-top: 5px; }
.mr-5 { margin-right: 5px; }
.mb-5 { margin-bottom: 5px; }
.ml-5 { margin-left: 5px; }
.p-20 { padding: 20px; }
.w-500 { width: 500px; }
.w-30 { width: 30px; }
.w-10 { width: 10px; }
.w-50 { width: 50px; }
.w-100 { width: 100px; }
.w-_100__ { width: 100%; }
.h-500 { height: 500px; }
.h-50 { height: 50px; }
.h-30 { height: 30px; }
.h-10 { height: 10px; }
.h-_100__ { height: 100%; }
.max-w-_90__ { max-width: 90%; }
.max-h-_90__ { max-height: 90%; }
.t-_50__ { top: 50%; }
.l-_50__ { left: 50%; }
.translate-_-50__ { translate: -50% -50%; }
.bg-_Assets_Kenny_20UI_Spritesheet_greySheet_png_grey_panel_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/greySheet.png?fileID=3d456c5ff9b4bb14981f2428d2c17e31&guid=3d456c5ff9b4bb14981f2428d2c17e31&type=3#grey_panel.png'); }
.bg-_Assets_Kenny_20UI_Spritesheet_blueSheet_png_blue_button11_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/blueSheet.png?fileID=d1023af4809dfc74ea55d04ae9bfe123&guid=d1023af4809dfc74ea55d04ae9bfe123&type=3#blue_button11.png'); }
.bg-_Assets_Kenny_20UI_Spritesheet_greySheet_png_grey_button13_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/greySheet.png?fileID=3d456c5ff9b4bb14981f2428d2c17e31&guid=3d456c5ff9b4bb14981f2428d2c17e31&type=3#grey_button13.png'); }
.bg-_Assets_Kenny_20UI_Spritesheet_greySheet_png_grey_button09_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/greySheet.png?fileID=3d456c5ff9b4bb14981f2428d2c17e31&guid=3d456c5ff9b4bb14981f2428d2c17e31&type=3#grey_button09.png'); }
.bg-_Assets_Kenny_20UI_Spritesheet_blueSheet_png_blue_checkmark_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/blueSheet.png?fileID=d1023af4809dfc74ea55d04ae9bfe123&guid=d1023af4809dfc74ea55d04ae9bfe123&type=3#blue_checkmark.png'); }
.bg-_Assets_Kenny_20UI_Spritesheet_blueSheet_png_blue_button10_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/blueSheet.png?fileID=d1023af4809dfc74ea55d04ae9bfe123&guid=d1023af4809dfc74ea55d04ae9bfe123&type=3#blue_button10.png'); }
.bg-_Assets_Kenny_20UI_Spritesheet_greySheet_png_grey_crossWhite_png_ { background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/greySheet.png?fileID=3d456c5ff9b4bb14981f2428d2c17e31&guid=3d456c5ff9b4bb14981f2428d2c17e31&type=3#grey_crossWhite.png'); }
.color-white { color: white; }
.color-black { color: black; }
.color-grey { color: grey; }
.font-24 { font-size: 24px; }
.font-20 { font-size: 20px; }
.absolute { position: absolute; }
.flex-1 { flex: 1; }
.flex-0 { flex: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }
.flex-row { flex-direction: row; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }
.self-center { align-self: center; }
.overflow-hidden { overflow: hidden; }
.text-ellipsis { text-overflow: ellipsis; }
.text-nowrap { white-space: nowrap; }
