.todo-button {
    background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/blueSheet.png?fileID=-4590443009793632628&guid=d1023af4809dfc74ea55d04ae9bfe123&type=3#blue_button11.png');
}

.todo-button:hover {
    background-image: url('project://database/Assets/Kenny%20UI/Spritesheet/blueSheet.png?fileID=3552386328965880685&guid=d1023af4809dfc74ea55d04ae9bfe123&type=3#blue_button12.png');
}
